@model ProiectFinalASP.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Register</h2>

<html>
<body>
    <style>
        td {
            padding: 40px;
        }
    </style>
    <!-- Form that takes some text and a password, sends it to the below script using a button-->
    <form id="myForm">
        <input type="text" id="txtName" name="name" placeholder="Enter your name" required>
        <input type="password" id="txtPassword" name="password" placeholder="Enter your password" required>
        <button type="submit">Submit</button>
    </form>

</body>
</html>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#myForm").submit(function (e) {
                e.preventDefault();
                var name = $("#txtName").val();
                var password = $("#txtPassword").val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AccountCreate", "Admin")", //Sends the relevant data to AccountCreate actionresult method in AdminController
                    data: { name: name, password: password },
                    success: function (data) {
                        // Handle the response
                        alert(data);
                    },
                    error: function (xhr, status, error) {
                        // Handle the error
                        alert(error);
                    }
                });
            });
        });
    </script>
}