@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magazin Online</h1>
    <p class="lead">Detalii Magazin</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    <p>
        @Html.ActionLink("Visit our Store", "Store", "Home")
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Exemplu1</h2>
        <p>
            Desc1
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Exemplu2</h2>
        <p>Desc2</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Exemplu3</h2>
        <p>Desc3</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>